// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'menu';
@import 'toast';
@import 'forms';

html,
body,
body > .outer-container {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    & > nav {
        flex-shrink: 0;
        z-index: 12;
    }

    & > div.container {
        flex-grow: 1;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    & > .filler {
        flex-grow: 1;
    }

    & > div.container + .filler {
        display: none;
    }
}

#error-page {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #636b6f;
    z-index: 10;
    background: white;

    .code {
        text-align: right;
        border-right: 2px solid;
        font-size: 26px;
        padding: 0 15px;
    }

    .message {
        font-size: 18px;
        padding: 0 15px;
    }
}

.app-loader {
    background-color: $body-bg;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 8;

    .spinner-border {
        width: 120px;
        height: 120px;
        border-width: 15px;
        color: #b2aa99;
    }

    &.small .spinner-border {
        width: 25px;
        height: 25px;
        border-width: 3px;
    }
}

pre {
    margin: 1rem 0;
    padding: 1rem;
    background-color: $menu-bg-color;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

tfoot.table-fake-body {
    background-color: #f8f8f8;
    color: grey;
    text-align: center;

    td {
        vertical-align: middle;
        height: 8em;
    }

    tbody:not(:empty) + & {
        display: none;
    }
}

table {
    td.buttons,
    td.email,
    td.price,
    td.datetime,
    td.selection {
        width: 1%;
        white-space: nowrap;
    }

    th.price,
    td.price {
        width: 1%;
        text-align: right;
        white-space: nowrap;
    }

    &.form-list {
        margin: 0;

        td {
            border: 0;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }

    .list-details {
        min-height: 1em;

        ul {
            margin: 0;
            padding-left: 1.2em;
        }
    }

    .btn-action {
        line-height: 1;
        padding: 0;
    }
}

#status-box {
    background-color: lighten($green, 35);

    .progress {
        background-color: #fff;
        height: 10px;
    }

    .progress-label {
        font-size: 0.9em;
    }

    .progress-bar {
        background-color: $green;
    }

    &.process-failed {
        background-color: lighten($orange, 30);

        .progress-bar {
            background-color: $red;
        }
    }
}

#dashboard-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    & > a {
        padding: 1rem;
        text-align: center;
        white-space: nowrap;
        margin: 0.25rem;
        text-decoration: none;
        width: 150px;

        &.disabled {
            pointer-events: none;
            opacity: 0.6;
        }

        .badge {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
    }

    svg {
        width: 6rem;
        height: 6rem;
        margin: auto;
    }
}

.plan-selector {
    .plan-ico {
        font-size: 3.8rem;
        color: #f1a539;
        border: 3px solid #f1a539;
        width: 6rem;
        height: 6rem;
        margin-bottom: 1rem;
        border-radius: 50%;
    }

    ul {
        padding-left: 1.2em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form-separator {
    position: relative;
    margin: 1em 0;
    display: flex;
    justify-content: center;

    hr {
        border-color: #999;
        margin: 0;
        position: absolute;
        top: .75em;
        width: 100%;
    }

    span {
        background: #fff;
        padding: 0 1em;
        z-index: 1;
    }
}

// Bootstrap style fix
.btn-link {
    border: 0;
}

.table thead th {
    border: 0;
}

small {
    font-size: 0.875em;
}
