// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Toastr
@import '~@deveodk/vue-toastr/dist/@deveodk/vue-toastr.css';

// Fixes Toastr incompatibility with Bootstrap
.toast-container > .toast {
    opacity: 1;
}

@import 'menu';

nav + .container {
    margin-top: 120px;
}

#app {
    margin-bottom: 2rem;
}

#error-page {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #636b6f;
    z-index: 10;
    background: white;

    .code {
        text-align: right;
        border-right: 2px solid;
        font-size: 26px;
        padding: 0 15px;
    }

    .message {
        font-size: 18px;
        padding: 0 15px;
    }
}

.app-loader {
    background-color: $body-bg;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 120px;
        height: 120px;
        border-width: 15px;
        color: #b2aa99;
    }
}

pre {
    margin: 1rem 0;
    padding: 1rem;
    background-color: $menu-bg-color;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

.listinput {
    display: none;
}

.listinput-widget {
    & > div {
        &:not(:last-child) {
            margin-bottom: -1px;

            input,
            a.btn {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &:not(:first-child) {
            input,
            a.btn {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }
}

.range-input {
    display: flex;

    label {
        margin-right: 0.5em;
    }
}

table.form-list {
    td {
        border: 0;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
        }
    }
}

table {
    td.buttons,
    td.price,
    td.selection {
        width: 1%;
    }

    td.price {
        text-align: right;
    }
}

#dashboard-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;

    & > a {
        padding: 1rem;
        text-align: center;
        white-space: nowrap;
        margin: 0 0.5rem 0.5rem 0;
        text-decoration: none;
        min-width: 8rem;

        &.disabled {
            pointer-events: none;
            opacity: 0.6;
        }
    }

    svg {
        width: 6rem;
        height: 6rem;
    }
}
