// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Toastr
@import '~@deveodk/vue-toastr/dist/@deveodk/vue-toastr.css';

// Fixes Toastr incompatibility with Bootstrap
.toast-container > .toast {
    opacity: 1;
}

@import 'menu';

nav + .container {
    margin-top: 120px;
}

#app {
    margin-bottom: 2rem;
}

#error-page {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #636b6f;
    z-index: 10;
    background: white;

    .code {
        text-align: right;
        border-right: 2px solid;
        font-size: 26px;
        padding: 0 15px;
    }

    .message {
        font-size: 18px;
        padding: 0 15px;
    }
}

.app-loader {
    background-color: $body-bg;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 120px;
        height: 120px;
        border-width: 15px;
        color: #b2aa99;
    }
}

pre {
    margin: 1rem 0;
    padding: 1rem;
    background-color: $menu-bg-color;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}
