// Fonts

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'menu';
@import 'toast';
@import 'forms';

html,
body,
body > .outer-container {
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    & > nav {
        flex-shrink: 0;
        z-index: 1;
    }

    & > div.container {
        flex-grow: 1;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    & > .filler {
        flex-grow: 1;
    }

    & > div.container + .filler {
        display: none;
    }
}

#error-page {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #636b6f;
    z-index: 10;
    background: white;

    .code {
        text-align: right;
        border-right: 2px solid;
        font-size: 26px;
        padding: 0 15px;
    }

    .message {
        font-size: 18px;
        padding: 0 15px;
    }
}

.app-loader {
    background-color: $body-bg;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .spinner-border {
        width: 120px;
        height: 120px;
        border-width: 15px;
        color: #b2aa99;
    }
}

pre {
    margin: 1rem 0;
    padding: 1rem;
    background-color: $menu-bg-color;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
}

tfoot.table-fake-body {
    background-color: #f8f8f8;
    color: grey;
    text-align: center;
    height: 8em;

    td {
        vertical-align: middle;
    }

    tbody:not(:empty) + & {
        display: none;
    }
}

table {
    td.buttons,
    td.price,
    td.selection {
        width: 1%;
    }

    td.price {
        text-align: right;
    }

    &.form-list {
        td {
            border: 0;

            &:first-child {
                padding-left: 0;
            }

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

ul.status-list {
    list-style: none;
    padding: 0;
    margin: 0;

    svg {
        width: 1.25rem !important;
        height: 1.25rem;
    }

    span {
        vertical-align: top;
    }
}

#dashboard-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;

    & > a {
        padding: 1rem;
        text-align: center;
        white-space: nowrap;
        margin: 0 0.5rem 0.5rem 0;
        text-decoration: none;
        min-width: 8rem;

        &.disabled {
            pointer-events: none;
            opacity: 0.6;
        }

        .badge {
            position: absolute;
            top: 0.5rem;
            right: 0.5rem;
        }
    }

    svg {
        width: 6rem;
        height: 6rem;
    }
}

.plan-selector {
    .plan-ico {
        font-size: 4em;
        color: #f1a539;
        border: 3px solid #f1a539;
        width: 100px;
        margin-bottom: 1rem;
        border-radius: 50%;
    }

    ul:last-child {
        margin-bottom: 0;
    }
}
