#header-menu {
    background-color: $menu-bg-color;
    padding: 0;
    line-height: 85px;

    .navbar-brand {
        padding: 0;
        outline: 0;

        > img {
            display: inline;
            vertical-align: middle;
        }
    }

    .nav-link {
        color: #202020;
        line-height: 85px;
        padding: 0 0 0 25px;
        background: transparent;

        &:focus {
            text-decoration: underline;
            outline: 0;
        }

        &:hover {
            color: $main-color;
            text-decoration: underline;
        }

        &.active:not(.menulogin) {
            font-weight: bold;
        }
    }
}

#footer-menu {
    background-color: $main-color;
    height: 100px;

    .navbar-brand {
        margin: 0;

        img {
            width: 170px;
        }
    }

    .footer {
        text-align: right;
        color: #fff;
        font-size: 0.75rem;
        padding: 0 0.5rem;
    }
}

@include media-breakpoint-up(lg) {
    #header-menu {
        a.menulogin {
            text-transform: uppercase;
            border: 2px solid $main-color;
            border-radius: 21px;
            line-height: 21px;
            letter-spacing: 1px;
            padding: 6px 34px;
            margin: 25px 0 25px 25px;

            &:focus,
            &:hover {
                text-decoration: none;
                background-color: $main-color;
                color: #fff;
                font-weight: normal;
            }
        }
    }

    #footer-menu {
        .navbar {
            flex-direction: column;
            align-items: flex-end;
        }
    }

    .navbar {
        .navbar {
            justify-content: flex-end;
        }
    }
}

@include media-breakpoint-down(md) {
    #header-menu {
        .navbar-nav {
            padding-bottom: 1em;
        }

        .nav-link {
            line-height: 45px;
            padding: 0;
        }
    }

    #footer-menu {
        .navbar-nav {
            display: none;
        }

        .container {
            flex-wrap: nowrap;
        }
    }
}

@include media-breakpoint-down(sm) {
    #header-menu {
        padding: 0 1em;
    }

    #footer-menu {
        height: 80px;

        .container {
            flex-direction: column;
        }

        #footer-company {
            display: none;
        }
    }
}

@media (max-width: 340px) {
    #header-menu {
        .navbar-brand img {
            width: 160px;
        }
    }
}
