[Unit]
Description=Kolab Setup Service
Requires=kolab-setenv.service
After=kolab-setenv.service ldapdata.mount

[Service]
Type=oneshot
EnvironmentFile=/etc/openshift-environment
ExecStart=/init.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
