version: '3'
services:
  kolab:
    ports:
      - "389:389"
      - "8880:8880"
      - "8443:8443"
      - "10143:10143"
      - "10587:10587"
      - "11143:11143"
      - "11993:11993"
      - "12143:12143"
  mariadb:
    ports:
      - "3306:3306"
  redis:
    ports:
      - "6379:6379"
  haproxy:
    depends_on:
      proxy:
        condition: service_healthy
  proxy:
    depends_on:
      kolab:
        condition: service_healthy
      webapp:
        condition: service_healthy
    build:
      context: ./docker/proxy/
      args:
        APP_WEBSITE_DOMAIN: ${APP_WEBSITE_DOMAIN:?err}
        SSL_CERTIFICATE: ${PROXY_SSL_CERTIFICATE:?err}
        SSL_CERTIFICATE_KEY: ${PROXY_SSL_CERTIFICATE_KEY:?err}
    healthcheck:
      interval: 10s
      test: "kill -0 $$(cat /run/nginx.pid)"
      timeout: 5s
      retries: 30
    container_name: kolab-proxy
    hostname: proxy
    image: kolab-proxy
    extra_hosts:
      - "meet:${MEET_LISTENING_HOST}"
      - "webapp:127.0.0.1"
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./docker/certs/:/etc/certs/:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
