version: '3'
services:
  coturn:
    build:
      context: ./docker/coturn/
    container_name: kolab-coturn
    healthcheck:
      interval: 10s
      test: "kill -0 $$(cat /tmp/turnserver.pid)"
      timeout: 5s
      retries: 30
    environment:
      - TURN_PUBLIC_IP=${COTURN_PUBLIC_IP}
      - TURN_LISTEN_PORT=3478
      - TURN_STATIC_SECRET==${COTURN_STATIC_SECRET}
    hostname: sturn.mgmt.com
    image: kolab-coturn
    network_mode: host
    restart: on-failure
    tty: true
  kolab:
    build:
      context: ./docker/kolab/
    container_name: kolab
    privileged: true
    depends_on:
      mariadb:
        condition: service_healthy
    extra_hosts:
      - "kolab.mgmt.com:127.0.0.1"
    environment:
      - DB_HOST=${DB_HOST}
      - DB_ROOT_PASSWORD=Welcome2KolabSystems
      - DB_HKCCP_DATABASE=${DB_DATABASE}
      - DB_HKCCP_USERNAME=${DB_USERNAME}
      - DB_HKCCP_PASSWORD=${DB_PASSWORD}
      - DB_KOLAB_DATABASE=kolab
      - DB_KOLAB_USERNAME=kolab
      - DB_KOLAB_PASSWORD=Welcome2KolabSystems
      - DB_RC_USERNAME=roundcube
      - DB_RC_PASSWORD=Welcome2KolabSystems
      - SSL_CERTIFICATE=${KOLAB_SSL_CERTIFICATE:?err}
      - SSL_CERTIFICATE_FULLCHAIN=${KOLAB_SSL_CERTIFICATE_FULLCHAIN:?err}
      - SSL_CERTIFICATE_KEY=${KOLAB_SSL_CERTIFICATE_KEY:?err}
      - IMAP_HOST=127.0.0.1
      - IMAP_PORT=11993
      - MAIL_HOST=127.0.0.1
      - MAIL_PORT=10587
    healthcheck:
      interval: 10s
      test: test -f /tmp/kolab-init.done
      timeout: 5s
      retries: 30
    hostname: kolab.mgmt.com
    image: kolab
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./ext/:/src/:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
      - ./docker/certs/ca.cert:/etc/pki/tls/certs/ca.cert:ro
      - ./docker/certs/ca.cert:/etc/pki/ca-trust/source/anchors/ca.cert:ro
      - ./docker/certs/kolab.hosted.com.cert:/etc/pki/tls/certs/kolab.hosted.com.cert
      - ./docker/certs/kolab.hosted.com.chain.pem:/etc/pki/tls/certs/kolab.hosted.com.chain.pem
      - ./docker/certs/kolab.hosted.com.key:/etc/pki/tls/certs/kolab.hosted.com.key
      - ./docker/certs/kolab.mgmt.com.cert:/etc/pki/tls/certs/kolab.mgmt.com.cert
      - ./docker/certs/kolab.mgmt.com.key:/etc/pki/tls/certs/kolab.mgmt.com.key
      - ./docker/kolab/utils:/root/utils:ro
      - ./src/.env:/.dockerenv:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  mariadb:
    container_name: kolab-mariadb
    environment:
      MYSQL_ROOT_PASSWORD: Welcome2KolabSystems
      TZ: "+02:00"
    healthcheck:
      interval: 10s
      test: test -e /var/run/mysqld/mysqld.sock
      timeout: 5s
      retries: 30
    image: mariadb
    network_mode: host
  nginx:
    build:
      context: ./docker/nginx/
      args:
        APP_WEBSITE_DOMAIN: ${APP_WEBSITE_DOMAIN:?err}
        SSL_CERTIFICATE: ${NGINX_SSL_CERTIFICATE:?err}
        SSL_CERTIFICATE_KEY: ${NGINX_SSL_CERTIFICATE_KEY:?err}
    depends_on:
      kolab:
        condition: service_healthy
    healthcheck:
      interval: 10s
      test: "kill -0 $$(cat /run/nginx.pid)"
      timeout: 5s
      retries: 30
    container_name: kolab-nginx
    hostname: nginx.hosted.com
    image: kolab-nginx
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./docker/certs/:/etc/certs/:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
  pdns-sql:
    build:
      context: ./docker/pdns-sql/
    container_name: kolab-pdns-sql
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      interval: 10s
      test: "systemctl status pdns || exit 1"
      timeout: 5s
      retries: 30
    hostname: pdns-sql
    image: apheleia/kolab-pdns-sql
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  proxy:
    build:
      context: ./docker/proxy/
      args:
        APP_WEBSITE_DOMAIN: ${APP_WEBSITE_DOMAIN:?err}
        SSL_CERTIFICATE: ${PROXY_SSL_CERTIFICATE:?err}
        SSL_CERTIFICATE_KEY: ${PROXY_SSL_CERTIFICATE_KEY:?err}
    healthcheck:
      interval: 10s
      test: "kill -0 $$(cat /run/nginx.pid)"
      timeout: 5s
      retries: 30
    container_name: kolab-proxy
    hostname: ${APP_WEBSITE_DOMAIN:?err}
    image: kolab-proxy
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./docker/certs/:/etc/certs/:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
  redis:
    build:
      context: ./docker/redis/
    healthcheck:
      interval: 10s
      test: "redis-cli ping || exit 1"
      timeout: 5s
      retries: 30
    container_name: kolab-redis
    hostname: redis
    image: redis
    network_mode: host
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
  swoole:
    build:
      context: ./docker/swoole/
    container_name: kolab-swoole
    image: apheleia/swoole:4.8.x
  webapp:
    build:
      context: ./docker/webapp/
    container_name: kolab-webapp
    image: kolab-webapp
    healthcheck:
      interval: 10s
      test: "/src/kolabsrc/artisan octane:status || exit 1"
      timeout: 5s
      retries: 30
    depends_on:
      kolab:
        condition: service_healthy
    network_mode: host
    volumes:
      - ./src:/src/kolabsrc.orig:ro
  tests:
    build:
      context: ./docker/tests/
    container_name: kolab-tests
    image: kolab-tests
    depends_on:
      kolab:
        condition: service_healthy
    network_mode: host
    volumes:
      - ./src:/src/kolabsrc.orig:ro
  worker:
    build:
      context: ./docker/worker/
    container_name: kolab-worker
    depends_on:
      - kolab
    hostname: worker
    image: kolab-worker
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./src:/home/worker/src.orig:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  meet:
    build:
      context: ./docker/meet/
    healthcheck:
      interval: 10s
      test: "curl --insecure -H 'X-AUTH-TOKEN: ${MEET_SERVER_TOKEN}' --fail https://localhost:12443/meetmedia/api/health || exit 1"
      timeout: 5s
      retries: 30
    environment:
      - WEBRTC_LISTEN_IP=${MEET_WEBRTC_LISTEN_IP:?err}
      - PUBLIC_DOMAIN=${MEET_PUBLIC_DOMAIN:?err}
      - LISTENING_HOST=0.0.0.0
      - LISTENING_PORT=12443
      - TURN_SERVER=${MEET_TURN_SERVER}
      - TURN_STATIC_SECRET=${COTURN_STATIC_SECRET}
      - AUTH_TOKEN=${MEET_SERVER_TOKEN:?err}
      - WEBHOOK_TOKEN=${MEET_WEBHOOK_TOKEN:?err}
      - WEBHOOK_URL=${APP_PUBLIC_URL:?err}/api/webhooks/meet
      - SSL_CERT=/etc/pki/tls/certs/meet.${APP_WEBSITE_DOMAIN:?err}.cert
      - SSL_KEY=/etc/pki/tls/private/meet.${APP_WEBSITE_DOMAIN:?err}.key
    network_mode: host
    container_name: kolab-meet
    image: kolab-meet
    volumes:
      - ./meet/server:/src/meet/:ro
      - ./docker/certs/meet.${APP_WEBSITE_DOMAIN}.cert:/etc/pki/tls/certs/meet.${APP_WEBSITE_DOMAIN}.cert
      - ./docker/certs/meet.${APP_WEBSITE_DOMAIN}.key:/etc/pki/tls/private/meet.${APP_WEBSITE_DOMAIN}.key
