version: '3'
services:
  swoole:
    build:
      context: ./docker/swoole/
    container_name: kolab-swoole
    image: apheleia/swoole
  tests:
    build:
      context: ./docker/tests/
    container_name: kolab-tests
    image: kolab-tests
  utils:
    build:
      context: ./docker/utils/
    container_name: kolab-utils
    image: kolab-utils
    network_mode: "host"
