version: '2.1'
services:
  kolab:
    build:
      context: ./docker/kolab/
    container_name: kolab
    depends_on:
      mariadb:
        condition: service_healthy
    extra_hosts:
      - "kolab.mgmt.com:127.0.0.1"
    healthcheck:
      interval: 10s
      test: test -f /tmp/kolab-init.done
      timeout: 5s
      retries: 30
    hostname: kolab.mgmt.com
    image: kolab
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./docker/certs/ca.cert:/etc/pki/tls/certs/ca.cert:ro
      - ./docker/certs/ca.cert:/etc/pki/ca-trust/source/anchors/ca.cert:ro
      - ./docker/certs/kolab.hosted.com.cert:/etc/pki/tls/certs/kolab.hosted.com.cert
      - ./docker/certs/kolab.hosted.com.key:/etc/pki/tls/certs/kolab.hosted.com.key
      - ./docker/certs/kolab.mgmt.com.cert:/etc/pki/tls/certs/kolab.mgmt.com.cert
      - ./docker/certs/kolab.mgmt.com.key:/etc/pki/tls/certs/kolab.mgmt.com.key
      - ./docker/kolab/utils:/root/utils:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
  mariadb:
    container_name: kolab-mariadb
    environment:
      MYSQL_ROOT_PASSWORD: Welcome2KolabSystems
    healthcheck:
      interval: 10s
      test: test -e /var/run/mysqld/mysqld.sock
      timeout: 5s
      retries: 30
    image: mariadb
    network_mode: host
  redis:
    build:
      context: ./docker/redis/
    container_name: kolab-redis
    hostname: redis
    image: redis
    network_mode: host
    volumes:
      - ./docker/redis/redis.conf:/usr/local/etc/redis/redis.conf:ro
  worker:
    build:
      context: ./docker/worker/
    container_name: kolab-worker
    depends_on:
      kolab:
        condition: service_healthy
    hostname: worker
    image: kolab-worker
    network_mode: host
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./src:/home/worker/src.orig:ro
      - /sys/fs/cgroup:/sys/fs/cgroup:ro
