.list-input {
    & > div {
        &:not(:last-child) {
            margin-bottom: -1px;

            input,
            a.btn {
                border-bottom-right-radius: 0;
                border-bottom-left-radius: 0;
            }
        }

        &:not(:first-child) {
            input,
            a.btn {
                border-top-right-radius: 0;
                border-top-left-radius: 0;
            }
        }
    }

    input.is-invalid {
        z-index: 2;
    }

    .btn svg {
        vertical-align: middle;
    }
}

.range-input {
    display: flex;

    label {
        margin-right: 0.5em;
    }
}

.input-group-activable {
    &.active {
        :not(.input-group-append):not(.activable) {
            display: none;
        }
    }

    &:not(.active) {
        .activable {
            display: none;
        }
    }

    // Label is always visible
    .label {
        color: $body-color;
        display: initial !important;
    }

    .input-group-text {
        border-color: transparent;
        background: transparent;
        padding-left: 0;

        &:not(.label) {
            flex: 1;
        }
    }
}

.form-control-plaintext .btn-sm {
    margin-top: -0.25rem;
}

form.read-only {
    .row {
        margin-bottom: 0;
    }
}

// Various improvements for mobile
@include media-breakpoint-down(sm) {
    .form-group {
        margin-bottom: 0.5rem;
    }

    .form-group.plaintext .col-form-label {
        padding-bottom: 0;
    }

    form.read-only.short label {
        width: 35%;

        & + * {
            width: 65%;
        }
    }
}

@include media-breakpoint-down(xs) {
    .col-form-label {
        color: #666;
        font-size: 95%;
    }

    .form-group.checkbox {
        position: relative;

        & > div {
            position: initial;
            padding-top: 0 !important;

            input {
                position: absolute;
                top: 0.5rem;
                right: 1rem;
            }
        }

        label {
            padding-right: 2.5rem;
        }
    }
}
