// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.5;

$main-color: #007bff;

// App colors
$menu-bg-color: #f8f9fa;
$menu-footer-color: #fff;
$menu-footer-bg-color: #aaa;
$menu-gray: #575656;
