version: '3'
services:
  roundcube:
    environment:
      - MAIL_HOST=postfix
      - MAIL_PORT=10587
      - FILEAPI_WOPI_OFFICE=https://kolab.local
      - CALENDAR_CALDAV_SERVER=http://imap:11080/dav
      - KOLAB_ADDRESSBOOK_CARDDAV_SERVER=http://imap:11080/dav
  proxy:
    depends_on:
      imap:
        condition: service_healthy
      postfix:
        condition: service_healthy
      webapp:
        condition: service_healthy
    build:
      context: ./docker/proxy/
    user: 0:0
    healthcheck:
      interval: 10s
      test: "kill -0 $$(cat /run/nginx.pid)"
      timeout: 5s
      retries: 30
    environment:
      - APP_WEBSITE_DOMAIN=${APP_WEBSITE_DOMAIN:?err}
      - SSL_CERTIFICATE=${PROXY_SSL_CERTIFICATE:?err}
      - SSL_CERTIFICATE_KEY=${PROXY_SSL_CERTIFICATE_KEY:?err}
    container_name: kolab-proxy
    restart: on-failure
    hostname: proxy
    image: kolab-proxy
    extra_hosts:
      - "meet:${MEET_LISTENING_HOST}"
    networks:
      kolab:
        ipv4_address: 172.18.0.7
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./docker/certs/:/etc/certs/:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
    ports:
      # - "25:25"
      # - "80:80"
      - "443:6443"
      - "465:6465"
      - "587:6587"
      - "143:6143"
      - "993:6993"
  imap:
    build:
      context: ./docker/imap/
    environment:
      - APP_SERVICES_DOMAIN=services.${APP_DOMAIN}
      - SERVICES_PORT=8000
      - IMAP_ADMIN_LOGIN=${IMAP_ADMIN_LOGIN}
      - IMAP_ADMIN_PASSWORD=${IMAP_ADMIN_PASSWORD}
      - SSL_CERTIFICATE=${KOLAB_SSL_CERTIFICATE:?"KOLAB_SSL_CERTIFICATE is missing"}
      - SSL_CERTIFICATE_FULLCHAIN=${KOLAB_SSL_CERTIFICATE_FULLCHAIN:?"KOLAB_SSL_CERTIFICATE_FULLCHAIN is missing"}
      - SSL_CERTIFICATE_KEY=${KOLAB_SSL_CERTIFICATE_KEY:?"KOLAB_SSL_CERTIFICATE_KEY is missing"}
    healthcheck:
      interval: 10s
      test: "test -e /run/saslauthd/mux && kill -0 $$(cat /var/run/master.pid)"
      timeout: 5s
      retries: 30
    container_name: kolab-imap
    restart: on-failure
    hostname: imap
    image: kolab-imap
    networks:
      kolab:
        ipv4_address: 172.18.0.12
    extra_hosts:
      - "kolab.mgmt.com:127.0.0.1"
      - "services.${APP_DOMAIN}:172.18.0.4"
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./docker/certs/:/etc/certs/:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
      - imap-spool:/var/spool/imap
      - imap-lib:/var/lib/imap
      - ./ext/:/src.orig/:ro
    ports:
      - "11080:11080"
      - "11143:11143"
      - "11024:11024"
  postfix:
    build:
      context: ./docker/postfix/
    healthcheck:
      interval: 10s
      test: "test -e /run/saslauthd/mux && kill -0 $$(cat /var/spool/postfix/pid/master.pid)"
      timeout: 5s
      retries: 30
    environment:
      - APP_SERVICES_DOMAIN=services.${APP_DOMAIN}
      - APP_DOMAIN=${APP_DOMAIN}
      - SERVICES_PORT=8000
      - DB_HOST=mariadb
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
      - LMTP_DESTINATION=imap:11024
      - SSL_CERTIFICATE=${KOLAB_SSL_CERTIFICATE:?"KOLAB_SSL_CERTIFICATE is missing"}
      - SSL_CERTIFICATE_FULLCHAIN=${KOLAB_SSL_CERTIFICATE_FULLCHAIN:?"KOLAB_SSL_CERTIFICATE_FULLCHAIN is missing"}
      - SSL_CERTIFICATE_KEY=${KOLAB_SSL_CERTIFICATE_KEY:?"KOLAB_SSL_CERTIFICATE_KEY is missing"}
    container_name: kolab-postfix
    restart: on-failure
    hostname: postfix
    image: kolab-postfix
    networks:
      kolab:
        ipv4_address: 172.18.0.13
    extra_hosts:
      - "kolab.mgmt.com:127.0.0.1"
      - "services.${APP_DOMAIN}:172.18.0.4"
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    volumes:
      - ./docker/certs/:/etc/certs/:ro
      - /etc/letsencrypt/:/etc/letsencrypt/:ro
      - postfix-spool:/var/spool/postfix
      - postfix-lib:/var/lib/postfix
    ports:
      - "10587:10587"
      - "10025:10025"
  amavis:
    build:
      context: ./docker/amavis/
    # healthcheck:
    #   interval: 10s
    #   test: "$(echo | nc 127.0.0.1 10024) | grep "220""
    #   timeout: 5s
    #   retries: 30
    environment:
      - APP_DOMAIN=${APP_DOMAIN}
      - DB_HOST=mariadb
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_DATABASE=${DB_DATABASE}
    container_name: kolab-amavis
    restart: on-failure
    hostname: amavis
    image: kolab-amavis
    networks:
      kolab:
        ipv4_address: 172.18.0.15
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
    #Volumes for clamav and spamassassin?
    # volumes:
    #   - postfix-spool:/var/spool/postfix
    #   - postfix-lib:/var/lib/postfix
    ports:
      - "13024:13024"
  collabora:
    build:
      context: ./docker/collabora/
      args:
        REPOSITORY: "https://www.collaboraoffice.com/repos/CollaboraOnline/23.05-CODE/CODE-rpm/"
    # healthcheck:
    #   interval: 10s
    #   test: "$(echo | nc 127.0.0.1 10024) | grep "220""
    #   timeout: 5s
    #   retries: 30
    container_name: kolab-collabora
    restart: on-failure
    hostname: collabora
    image: kolab-collabora
    environment:
      - ALLOWED_HOSTS=${APP_DOMAIN}
    extra_hosts:
      - "${APP_DOMAIN}:172.18.0.7"
    networks:
      kolab:
        ipv4_address: 172.18.0.17
    tmpfs:
      - /run
      - /tmp
      - /var/run
      - /var/tmp
    tty: true
volumes:
  postfix-spool:
  postfix-lib:
  imap-spool:
  imap-lib:
