---

- name: Check if cgroupv1 is configured
  shell: grep -c 'systemd.unified_cgroup_hierarchy=0' /proc/cmdline
  register: cgroup_status
  ignore_errors: true

- name: Install grubby
  package: name=grubby state=installed
  when: cgroup_status.stdout == "0"

- name: Disable cgroupv2
  shell: grubby --update-kernel=ALL --args=\"systemd.unified_cgroup_hierarchy=0\"
  when: cgroup_status.stdout == "0"

- name: reboot
  shell: sleep 2 && shutdown -r now "Ansible updates triggered"
  async: 1
  poll: 0
  ignore_errors: true
  when: cgroup_status.stdout == "0"

- name: waiting for server to come back
  local_action: wait_for host={{ansible_fqdn}} state=started timeout=600 delay=15
  when: cgroup_status.stdout == "0"

