// Body
$body-bg: #fff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.5;

// Colors
$orange: #f1a539;
$light: #f6f5f3;

// App colors
$menu-bg-color: $light;
$menu-gray: #575656;
$main-color: $orange;
$warning: $orange;
