includes:
    - ./vendor/larastan/larastan/extension.neon
parameters:
    ignoreErrors:
        - '#Access to an undefined property [a-zA-Z\\]+::\$pivot#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$id#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$key#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$value#'
        - '#Access to an undefined property Sabre\\VObject\\(Component|Document)::#'
        - '#Call to an undefined method Tests\\Browser::#'
        - '#Call to an undefined method garethp\\ews\\API\\Type::#'
        - '#Method App\\User::delegat.*\(\) should return.*#'
    level: 5
    parallel:
        processTimeout: 300.0
    paths:
        - app/
        - config/
        - database/
        - resources/
        - routes/
        - tests/
        - resources/
    treatPhpDocTypesAsCertain: false
    noEnvCallsOutsideOfConfig: false
