includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    excludes_analyse:
        - tests/Browser
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Access to an undefined property Illuminate\\Contracts\\Auth\\Authenticatable#'
        - '#Access to an undefined property App\\Package::\$pivot#'
    level: 4
    paths:
        - app/
        - tests/
